%form{:method => 'get', :action => '/search', :id => "searchForm"}
  #searchDivWrapper
    #searchDiv
      #beautyDiv 
        #searchBarDiv
          %table{:id => 'searchBarWrapper'}
            %tr
              %td
                %input{:type => 'search', :name => 'query', :placeholder => 'Poney.avi',:value => params[:query], :id => "searchBar" }
              %td
                %input{:type => "submit", :value => "Search", :class => "button", :id => "searchButton", :class => "searchButton", :onmousedown => "this.className='searchButtonClick'", :onmouseup => "this.className='searchButton'"}
        #beautyDiv2
        %div{:class => 'spacer'}
      #collapseDiv
        %div{:id => "collapseImg", :class => "collapseImgVisible"}
        #collapseText
          %a{:title => 'show/hide advanced', :href => "#", :id => "collapseButton"} Show advanced
      %div{:class => 'spacer'}
    #advancedSearch
      %div{:class => 'spacer'}
      #advancedOrder
        Order: 
        %select{:id => 'order', :name => 'order', :value => params[:order]}
          %option{:value => 'ftp.asc', :selected => params[:order] == 'ftp.asc'} Server
          %option{:value => 'name.asc', :selected => params[:order] == 'name.asc'} Name
          %option{:value => 'entry_datetime.desc', :selected => params[:order] == 'entry_datetime.desc'} Date
          %option{:value => 'size.desc', :selected => params[:order] == 'size.desc'} Size
      #advancedOnline
        Show offline:
        %select{:id => 'online', :name => 'online', :value => params[:online]}
          %option{:value => 'true', :selected => params[:online] == 'true'} No
          %option{:value => 'false', :selected => params[:online] == 'false'} Yes


#resultsDiv
  %table{:id => "results"}
    %tr
      %th FTP
      %th File name
      %th Date
      %th Size
    - if not @results.nil?
      - @results.each do |entry|
        - ftp_name = FtpServer.name(entry[0])
        %tr
          %td
            %a{:title => ftp_name, :href => FtpServer.url(entry[0])}= ftp_name
          %td
            %a{:title => File.basename(entry[1]), :href => url_utf8(Entry.remote_path(entry[0], entry[1]))}= to_utf8(entry[1])
          %td
            = human_date(Time.at(entry[2].to_i))
          %td{:class => "resultsSize"}
            = number_to_human_size(entry[3])
  - if not @page_count.nil? and @page_count > 1
    pages : 
    = @page_count
    #pager  
      - if params[:page].to_i > 1
        #pagerPrevious
          %a{:title => 'previous', :href => "/search?query=#{params[:query]}&order=#{params[:order]}&online=#{params[:online]}&page=#{params[:page].to_i - 1}"} Previous
      #pagerMain
        - pager(@page_count, params[:page].to_i).each do |p|        
          %a{:title => 'page', :href => "/search?query=#{params[:query]}&order=#{params[:order]}&online=#{params[:online]}&page=#{p}"}= p
      - if params[:page].to_i < @page_count
        #pagerNext
          %a{:title => 'next', :href => "/search?query=#{params[:query]}&order=#{params[:order]}&online=#{params[:online]}&page=#{params[:page].to_i + 1}"} Next
        %div{:class => 'spacer'}
