
#resultsDiv
  %table{:id => "results"}
    %tr
      %th Name
      %th Number of files
      %th Size
      %th Last scan
      %th Online?
    - if not @ftp_list.nil?
      - @ftp_list.each do |ftp|
        %tr
          %td
            %a{:title => ftp[1], :href => FtpServer.url(ftp[0])}= ftp[1]
          %td
            = ftp[2]
          %td{:class => "centertab"}
            = number_to_human_size(ftp[3].to_i)
          %td{:class => "centertab"}
            = human_time(Time.at(ftp[4].to_i))
          %td{:class => "centertab"}
            = ftp[5]


